.admin__invoices {
    display: flex;
    overflow: hidden;
    position: static;
    justify-content: flex-end;
}

.admin__invoices__container {
    /* background-color: #e8f3ff; */
    min-height: 100vh;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.admin__invoices__container__content{
    margin-top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    height: 99vh;
    padding: 0px 20px 0px 20px;
}

.admin__invoices__container__content__heading{
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .admin__invoices__container__content__infoboxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin__invoices__container__content__infoboxes__box{
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    outline: 1px solid #d5d5d5;
    padding: 0px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
}

.admin__invoices__container__content__infoboxes__box__value{
    font-size: medium;
    font-weight: bold;
}
.admin__invoices__container__content__infoboxes__box__text{
    color: rgb(126, 126, 126);
    font-size: small;
} */

.admin__invoices__container__content__invoices{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.admin__invoices__container__content__invoices__tabs{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
}
.admin__invoices__container__content__invoices__tabs__tab{
    width: 15%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    color: rgb(126, 126, 126);
    border-radius: 5px;
}

.admin__invoices__container__content__invoices__filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
}

.admin__invoices__container__content__invoices__filter__search{
    width: 50%;
    height: 40px;
}
.admin__invoices__container__content__invoices__filter__search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: small;
    color: black;
    -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
    outline: 1px solid #d5d5d5;
}
.admin__invoices__container__content__invoices__filter__search input:focus{
    outline: 1px solid #d5d5d5;
}

.admin__invoices__container__content__invoices__filter__records__found{
    font-size: 0.9rem;
    color: rgb(126, 126, 126);
}

.admin__invoices__container__content__invoices__table{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin__invoices__container__content__invoices__table__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    background-color: #153e4d;
    color: #fff;
    margin: 0.5%;
}
.admin__invoices__container__content__invoices__table__header__item{
    border-right: 2px solid #e8f3ff;
    padding: 10px;
    text-align: center;
    font-size: 0.7rem;
}
.admin__invoices__container__content__invoices__table__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    background-color: #fafafa;
    color: #000;
    border-bottom: 2px solid #e8f3ff;
}
.admin__invoices__container__content__invoices__table__row:hover{
    background-color: #dddddd;
    cursor: pointer;
}
.admin__invoices__container__content__invoices__table__row__item{
    border-right: 2px solid #e8f3ff;
    padding: 10px;
    font-size: 0.6rem;
}

.admin__invoices__container__content__invoices__table__total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    background-color: #b6b6b6;
    color: #000;
    margin: 0.5%;
    border-bottom: 2px solid #e8f3ff;
}
.admin__invoices__container__content__invoices__table__total__item{
    border-right: 2px solid #e8f3ff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 0.6rem;
}
