.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f3ff;
}

.login__container {
    width: 30%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: relative;
}

.login__container__bg{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #153e4d;
    /* padding: 2%; */
    /* border-radius: 10px 10px 0px 0px; */
}

.login__container__img{
    width: 45%;
    /* height: 100px; */
    position: absolute;
    top: 2%;
    left: 5%;
    
    /* opacity: 0.5; */
}
.login__container__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login__container__content{
    /* position: absolute; */
    /* bottom: 10px; */
    width: 98%;
    height: 100%;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    clip-path: polygon(1% 30%, 99% 10%, 99% 98%, 1% 98%);
    /* padding: 10px; */
    /* border-radius: 0px 0px 10px 10px; */
}

.login__container__heading{
    font-size: 2rem;
    font-weight: 600;
    color: #153e4d;
    text-align: center;
    margin-bottom: 40px;
    padding: 0px;
}

.login__container__form{
    width: 70%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.login__container__form__group{
    width: 100%;
    height: 30px;
    margin: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.login__container__form__group label{
    font-size: 1rem;
    font-weight: 600;
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    width: 30%;
}

.login__container__form__group input{
    width: 70%;
    height: 100%;
    border: 1px solid #9c9c9cb4;
    /* border-bottom: 2px solid #153e4d; */
    /* outline: none; */
    /* border: none; */
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;
    /* font-weight: 600; */
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px 10px;
}
.login__container__form__group input:focus{
    outline: 1px solid #153e4d9e;
}
.login__container__form__group input::placeholder{
    font-size: 0.8rem;
}

.login__container__form__group__icon{
    position: absolute;
    right: 17%;
    color: #153e4dc0;
    font-size: 20px;
    cursor: pointer;
}

.login__container__form__group button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #153e4d;
    cursor: pointer;
}
.login__container__form__group button:hover{
    filter: brightness(1.1)
}

.login__container__forgot__link{
    margin-top: 10px;
    color: #153e4d;
    font-size: 1rem;
}
.login__container__forgot__link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.login__container__signup__link{
    margin-top: 20px;
    font-size: 1rem;
}
.login__container__signup__link span{
    cursor: pointer;
    color: #153e4d;
    font-weight: 600;
}
.login__container__signup__link span:hover{
    text-decoration: underline;
}