/* Base Colors */

.verify {
    background-color: #e8f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.verify__modal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify__screen {
    background: linear-gradient(90deg, #153e4d, #1b5365);
    position: relative;
    width: 50vw;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.verify__screen__content__success {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.successful__verify {
    color: #26dc3b;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.successful__verify__icon {
    font-size: 7rem;
    /* Increased icon size */
    margin-bottom: 10px;
}

.successful__verify__text {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    padding: 10px;
}


.verify__screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.verify__screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.verify__screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #e8f3ff;
    /* Use the primary color */
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.verify__screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #20205a;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.verify__screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg,
            #29478b,
            #1b5365
            /* Use secondary color */
        );
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.verify__screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #221e77;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

@media screen and (max-width: 1050px) {
    .verify__screen {
        width: 70vw;
    }

    .successful__verify {
        font-size: 2rem;
    }

    .successful__verify__icon {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .successful__verify__text {
        font-size: 1rem;
        padding: 5px;
    }
}

@media screen and (max-width: 560px) {
    .verify__screen {
        width: 90vw;
    }

    .successful__verify {
        font-size: 1.5rem;
    }

    .successful__verify__icon {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .successful__verify__text {
        font-size: 0.9rem;
        padding: 5px;
    }
}