.reset__password {
    background-color: #e8f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.reset__password__modal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset__password__screen {
    background: linear-gradient(90deg, #153e4d, #1b5365);
    position: relative;
    width: 50vw;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.reset__password__screen2 {
    background: linear-gradient(90deg, #153e4d, #1b5365);
    position: relative;
    width: 25vw;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}


.reset__password__screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.reset__password__screen__content__success {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.successful__reset__password {
    color: #26dc3b;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.successful__reset__password__icon {
    font-size: 7rem;
    /* Increased icon size */
    margin-bottom: 20px;
}

.successful__reset__password__text {
    color: #fff;
    font-size: 1.3rem;
    margin: 0px;
    padding: 10px;
}

.reset__password__screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.reset__password__screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.reset__password__screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #e8f3ff;
    /* Use the primary color */
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.reset__password__screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #20205a;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.reset__password__screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #29478b, #1b5365);
    /* Use secondary color */
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.reset__password__screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #221e77;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}


.reset__password__change__text {
    color: #d8dde6;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
    padding: 30px 0px;
    width: 85%;
    padding-bottom: 0px;
}

.reset__password__change {
    width: 85%;
    padding: 30px 0;
    padding-top: 6px;
}

.reset__password__change__field {
    padding: 10px 0px;
    position: relative;
}

.reset__password__change__icon {
    position: absolute;
    top: 20px;
    color: #e8f3ff;
}

.reset__password__change__icon__i {
    position: absolute;
    top: 20px;
    right: 0;
    color: #e8f3ff;
}

.fa-eye-slash,
.fa-eye {
    cursor: pointer;
}


.reset__password__change__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    color: #fff;
    padding-left: 24px;
    /* font-weight: 700; */
    width: 90%;
    transition: .2s;
}



.reset__password__change__input:active,
.reset__password__change__input:focus,
.reset__password__change__input:hover {
    outline: none;
    border-bottom-color: #e8f3ff;
}

.reset__password__change__input::placeholder {
    color: #D1D1D4;
}

.reset__password__change__input:focus::placeholder {
    color: transparent;
}

.reset__password__error__message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    height: 30px;
}

.reset__password__error__icon {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 5px;
}

.reset__password__change__submit {
    background: #d8dde6;
    font-size: 14px;
    margin-top: 10px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #e8f3ff;
    box-shadow: 0px 2px 2px #0E1628;
    cursor: pointer;
    transition: .2s;
}

.reset__password__change__submit:active,
.reset__password__change__submit:focus,
.reset__password__change__submit:hover {
    border-color: #e8f3ff;
    outline: none;
}

.reset__password__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    /* background-color: #153e4d; */
}

.reset__password__button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #e8f3ff;
}


@media screen and (max-width: 1050px) {
    .reset__password__screen {
        width: 30vw;
    }

    .reset__password__change__text {
        font-size: 1.2rem;
    }

    .reset__password__change__input {
        padding-left: 24px;
        font-size: 0.7rem;
    }

    .reset__password__change__submit {
        font-size: 0.7rem;
        padding: 10px 20px;
    }

    .reset__password__button__text {
        font-size: 0.7rem;
    }

    .reset__password__button__icon {
        font-size: 16px !important;
    }

}

@media screen and (max-width: 560px) {
    .reset__password__screen {
        width: 55vw;
    }

    .reset__password__change {
        width: 85%;
    }

    .reset__password__change__text {
        font-size: 1rem;
    }

    .reset__password__change__submit {
        font-size: 0.7rem;
        padding: 10px 20px;
    }

    .reset__password__button__text {
        font-size: 0.6rem;
    }

    .reset__password__button__icon {
        font-size: 0.7rem !important;
    }


    .successful__reset__password {
        font-size: 1.5rem;
    }

    .successful__reset__password__icon {
        margin-bottom: 10px;
    }

    .successful__reset__password__text {
        font-size: 0.7rem;
        padding: 5px;
    }
}