.forgot-password {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .forgot-password__back{
    position: absolute;
    top: 5%;
    left: 5%;
    color: #153e4d;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .forgot-password__container {
    width: 30%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: relative;
    
  }

  .slide-in {
    transform: translateX(-100%);
    visibility: visible;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Update the slide-out class for sliding out the forgot-password component */
  .forgot-password__container.slide-out {
    transform: translateX(100%);
    visibility: hidden;
  }

  .forgot-password__container__bg {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #153e4d;
    /* padding: 2%; */
    /* border-radius: 10px 10px 0px 0px; */
}

.forgot-password__container__img {
    width: 45%;
    /* height: 100px; */
    position: absolute;
    top: 2%;
    left: 5%;

    /* opacity: 0.5; */
}

.forgot-password__container__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
  .forgot-password__container__content {
    width: 98%;
    height: 100%;
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    clip-path: polygon(1% 35%, 99% 15%, 99% 98%, 1% 98%);
  }
  
  .forgot-password__container__heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #153e4d;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px;
  }

  .forgot-password__container__sub-heading{
    font-size: 0.9rem;
    font-weight: 600;
    width: 80%;
    color: #758387;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px;
  }
  
  .forgot-password__container__form {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .forgot-password__container__form__group {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
  }
  
  .forgot-password__container__form__group label {
    font-size: 1rem;
    font-weight: 600;
    color: #153e4d;
    width: 30%;
  }
  
  .forgot-password__container__form__group input {
    width: 70%;
    height: 100%;
    border: 1px solid #9c9c9cb4;
    /* border-bottom: 2px solid #153e4d; */
    /* outline: none; */
    /* border: none; */
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;
    /* font-weight: 600; */
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px 10px
  }
  
  .forgot-password__container__form__group input:focus {
    outline: 1px solid #153e4d9e;
  }
  
  .forgot-password__container__form__group__icon {
    position: absolute;
    right: 17%;
    color: #153e4dc0;
    font-size: 20px;
    cursor: pointer;
  }
  
  .forgot-password__container__form__group button {
    width: 100%;
    height: 40px;
    /* margin-top: 20px; */
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #153e4d;
    cursor: pointer;
  }
  
  .forgot-password__container__form__group button:hover {
    filter: brightness(1.1);
  }
  
  .error__message {
    color: red;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  
  .success__message {
    color: green;
    font-size: 1rem;
    margin-top: 10px;
  }

  .forgot-password__screen__content__success {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.successful__forgot-password {
    color: #000;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.successful__forgot-password__icon {
    padding: 0px;
    color: #153e4d;
    margin-bottom: 20px;
}

.successful__forgot-password__text {
    color: #000;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    width: 80%;
}


/* PRELOADER CODE */
.forgot-password__preloader {
    /* margin: auto; */
    /* height: 90%; */
    /* width: 90%; */
    /* margin: auto auto; */
    /* border-radius: 50%; */
    /* border-right: 9px solid rgba(255, 255, 255, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    /* margin-top: 20px; */
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #153e4d;
    /* cursor: pointer; */
    
}

.forgot-password__preloader__icon {
    width: 25px;
    height: 25px;
    animation: spinning 3s linear infinite;
}

@keyframes spinning {
    0% {
      transform: rotate(0deg);
      /* border-right: 9px solid rgba(255, 255, 255, 0.6); */
    }
  
    5% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    10% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    15% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    20% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    25% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    30% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    35% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    40% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    45% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    50% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    55% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    60% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    65% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    70% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    75% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    80% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    85% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    90% {
      /* border-right-color: rgba(255, 255, 255, 0.6) */
    }
  
    95% {
      /* border-right-color: rgba(255, 255, 255, 0.4) */
    }
  
    100% {
      transform: rotate(360deg);
      /* border-right: 9px solid rgba(255, 255, 255, 0.6); */
    }
  }


  