.signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e8f3ff; */
}


.signup__container {
    width: 70%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: relative;
}

.signup__container__bg{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #153e4d;
    /* padding: 2%; */
    /* border-radius: 10px 10px 0px 0px; */
}

.signup__container__img{
    width: 25%;
    /* height: 100px; */
    position: absolute;
    top: 1%;
    left: 5%;
    
    /* opacity: 0.5; */
}
.signup__container__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup__container__content{
    /* position: absolute; */
    /* bottom: 10px; */
    width: 98%;
    height: 100%;
    display: flex;
    padding-top: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    clip-path: polygon(1% 30%, 99% 2%, 99% 98%, 1% 98%);
    /* padding: 10px; */
    /* border-radius: 0px 0px 10px 10px; */
    padding-bottom: 0px;
}

.signup__container__heading{
    font-size: 2rem;
    font-weight: 600;
    color: #153e4d;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
}

.signup__container__form{
    width: 80%;
    /* height: 70%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.signup__container__form__sections{
    display: flex;
    width: 100%;
    /* margin: 20px 0; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.signup__container__form__left{
    width: 48%;
    position: relative;
}

.signup__container__form__right{
    width: 50%;
    position: relative;
}

.signup__container__form__group{
    width: 48%;
    height: 30px;
    margin: 7px 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.signup__container__form__group label{
    font-size: 0.9rem;
    font-weight: 600;
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    width: 40%;
}

.signup__container__form__group input{
    width: 60%;
    height: 100%;
    border: 1px solid #9c9c9cb4;
    /* border-bottom: 2px solid #153e4d; */
    /* outline: none; */
    /* border: none; */
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;
    /* font-weight: 600; */
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding-left: 2%;
}
.signup__container__form__group input:focus{
    outline: 1px solid #153e4d9e;
}
.signup__container__form__group input::placeholder{
    font-size: 0.8rem;
}

.signup__container__form__group__icon{
    position: absolute;
    right: 2%;
    color: #153e4dc0;
    font-size: 20px;
    cursor: pointer;
}

.signup__container__form__group select{
    width: 63%;
    height: 100%;
    border: 1px solid #9c9c9cb4;
    /* border-bottom: 2px solid #153e4d; */
    /* outline: none; */
    /* border: none; */
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;
    /* font-weight: 600; */
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px 5px;
}
.signup__container__form__group select:focus{
    outline: 1px solid #153e4d9e;
}
.signup__container__form__group select::placeholder{
    font-size: 0.8rem;
}

.signup__container__form__group2{
    width: 100%;
    height: 30px;
    margin: 7px 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}
.signup__container__form__group2 label{
    font-size: 0.85rem;
    font-weight: 600;
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    width: 18%;
}
.signup__container__form__group2 input{
    width: 80%;
    height: 100%;
    border: 1px solid #9c9c9cb4;
    /* border-bottom: 2px solid #153e4d; */
    /* outline: none; */
    /* border: none; */
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;
    /* font-weight: 600; */
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding-left: 1%;
}
.signup__container__form__group2 input:focus{
    outline: 1px solid #153e4d9e;
}
.signup__container__form__group2 input::placeholder{
    font-size: 0.8rem;
}


.signup__container__form__group3{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
}
.signup__container__form__group3 label{
    font-size: 0.85rem;
    font-weight: 600;
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    width: 19%;
}
.signup__container__form__group3__type{
    width: 20%;
    background-color: #6e6e6e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
.signup__container__form__group4{
    width: 100%;
    height: 30px;
    /* margin: 10px 0; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
}

.signup__container__form__group4 label{
    font-size: 0.9rem;
    font-weight: 600;
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    width: 19%;
}
.signup__container__form__group4 select{
    width: 15%;
    height: 100%;
    border: 1px solid #9c9c9cb4;
    /* border-bottom: 2px solid #153e4d; */
    /* outline: none; */
    /* border: none; */
    outline: none;
    border-radius: 5px;
    font-size: 0.9rem;
    /* font-weight: 600; */
    color: #153e4d;
    /* text-align: center; */
    margin: 0px;
    padding: 0px 5px;
}
.signup__container__form__group4 select:focus{
    outline: 1px solid #153e4d9e;
}
.signup__container__form__group4 select::placeholder{
    font-size: 0.8rem;
}

.signup__container__form__error{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* padding: 0; */
    /* height: 30px; */
    margin-top: 10px;
    /* font-weight: bold; */
    /* font-size: 0.8rem; */
    /* color: red; */
}
.signup__container__form__error__message{
    display: flex;
    /* text-align: right; */
    /* justify-content: flex-end; */
    align-items: center;
    /* width: 100%; */
    /* padding: 0; */
    /* height: 30px; */
    /* margin-top: 10px; */
    font-weight: bold;
    font-size: 0.8rem;
    color: red;
}

.signup__container__form__info{
    display: flex;
    text-align: left;
    width: 100%;
    padding: 0;
    /* margin-top: 10px; */
    /* font-weight: bold; */
    font-size: 0.8rem;

}

.signup__container__form__group button{
    width: 100%;
    height: 40px;
    /* margin-top: 20px; */
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #153e4d;
    cursor: pointer;
}
.signup__container__form__group button:hover{
    filter: brightness(1.1)
}

.signup__container__login__link{
    /* margin-top: 0px; */
    font-size: 1rem;
}
.signup__container__login__link span{
    cursor: pointer;
    color: #153e4d;
    font-weight: 600;
}
.signup__container__login__link span:hover{
    text-decoration: underline;
}

.signup__screen__content__success {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.successful__signup {
    color: #000;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.successful__signup__icon {
    padding: 0px;
    color: #153e4d;
    margin-bottom: 20px;
}

.successful__signup__text {
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}


/* PRELOADER CODE */
.signup__preloader {
    /* margin: auto; */
    /* height: 90%; */
    /* width: 90%; */
    /* margin: auto auto; */
    /* border-radius: 50%; */
    /* border-right: 9px solid rgba(255, 255, 255, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    /* margin-top: 20px; */
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #153e4d;
    /* cursor: pointer; */
    
}

.signup__preloader__icon {
    width: 25px;
    height: 25px;
    animation: spinning 3s linear infinite;
}

@keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }